.accessoslo-air-passenger{
    @import "header-list";
    @import "items-list";
    .label-table{
        display: block;
        float: left;
        font-size: em(14);
        line-height: 25px;
        min-height: 25px;
        &.company{
            width: 15%;
        }
        &.country{
            width: 12%;
        }
        &.contact{
            width: 16%;
        }
        &.email{
            width: 18%;
        }
        &.phone{
            width: 11%;
        }
        &.number-departures{
            width: 27%;
            text-align: right;
        }
    }
}