.wrapper-content {  
    padding-bottom: 60px;
    .box {
        h2{
            @include title($yellow, 24);
            margin-top: 0px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        h3{
            @include title(#5f6062, 16);
            margin-top: 0px;
            margin-bottom: 20px;
        }
        p{
            color: #5f6062;
            font-family: 'Gotham-book';
            font-weight: normal;
            font-size: 12px;
            line-height: 24px;
            margin-bottom: 10px;
            a{
                color: $yellow;
            }
        }
        &.box-left {
            @include shadowBox;
            padding: 30px;
            background: #FFF;
            @include breakpoint(tablet){
                margin-bottom: 30px;
            }
        }
        &.box-right{
            .item{
                @include shadowBox;
                padding: 30px 20px;
                background: #FFF;
                margin-bottom: 40px;
                &:last-child{
                    margin-bottom: 0px;
                }
                p{
                    margin-bottom: 40px;
                    line-height: 1.5;
                }
            }
        }
    }
}