.box-chart{
    .box{
        background: #FFF;
        display: block;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid #e2cfd3;
        margin-bottom: 20px;
    }
}