.custom-radio{
    input[type="radio"]{
        position: absolute;
        right: 9000px;
        opacity: 0;
        cursor: pointer;
    }
    
    .checkmark {
        position: absolute;
        top: 0;
        left: 15px;
        height: 30px;
        width: 30px;
        background-color: #FFF;
        border: solid 1px #d3d3d3;
        border-radius: 5px;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }                   
    }

    label{
        padding-left: 40px;
        &:hover input ~ .checkmark {
            background-color: #FFF;
        }
        input:checked ~ .checkmark {
            background-color: #FFF;
            border-color: $green;
        }
        input:checked ~ .checkmark:after {
            display: block;
        }
        .checkmark:after {
            left: 9px;
            top: 2px;
            width: 10px;
            height: 20px;
            border: solid $green;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}