.content-box {
	display: block;
    margin: 0px 0px 0px;
    padding-bottom: 50px;
	.box {
		margin-left: 200px;
		margin-right: 200px;
		display: inline-block;
		padding: 0px;
		.post_img {
			width: 300px;
			height: 200px;
			margin-left: -15px;
		}
		.text_area {
			margin-top: 25px;
			.date {
				font-weight: bold;
			}
			.post_link {
				h4 {
					margin-top: 0px;
					margin-bottom: 15px;
					color:#48539b;
					font-size: 22px;
				}
			}
		}
		p {
			margin-bottom: 0px;
		}
	}
	.detail_box {
		margin-top: -10px;
		margin-left: 270px;
		margin-right: 270px;
		display: inline-block;
		padding: 0px;
		.info_title {
			color: black;
		}
		.info_image {
			margin-top: 15px;
		}
		.info_post_description {
			margin-top: 15px;
		}
		.info_meta {
			margin-top: 15px;
			.meta_title {
				color: black;
			}
		}		
	}
	.posts {
		display: inline-block;
		margin-top: 40px;
		margin-left: 50px;
		margin-right: 50px;
		border-top: 1px solid #e2e2e2;
		.post_date{
			font-size: x-small;
			padding-left: 20px;
			padding-top: 20px;
		}		
	}
}