.content-box{
    display: block;
    margin: 0px 0px 0px;
    padding-bottom: 50px;
	background: #f8f6f0;
    .top-box{
		margin-top: 30px;
        margin-bottom: 30px;
        .result-box {
            @include title(#333333, 20);
        }
        .options-box{
            display: block;
            float: right;
            .status{
                display: block;
                float: left;
                margin-right: 20px;
                select {
                    background-image: url('../assets/img/arrow-select.jpg');
                    background-repeat: no-repeat;
                    background-position: right center;
                    background-size: auto 100%;
                }
                .form-control {
                    @include placeholderColor(#8e8e8e);
                    background-color: #FFF;
                    font-size: 14px;
                    color: #8e8e8e;
                    padding: 3px 60px 3px 10px;
                    height: auto;
                    width: auto;
                }
            }
            .display-box{
                display: block;
                float: left;
                .item{
                    background: #fff;
                    width: 35px;
                    height: 35px;
                    display: block;
                    float: left;
                    border: solid 1px #e0e0e0;
                    &.active {
                        border: solid 1px $yellow;
                    }
                    &:first-child{
                        margin-right: 10px;
                    }
                }
            }
            .money-box{
                display: block;
                float: left;
                margin-right: 20px;            
                .btn-group{
                    color: #8e8e8e;
                    border-radius: 0px;
                    border: solid 1px #e0e0e0;
                    .btn{
                        &.dropdown-toggle{
                            border-left: solid 1px #e0e0e0;
                        }
                    }
                }
            }
        }
    }
    .list-items{
        .btn {
            padding: 10px 12px;
        }
        .item {
            @include shadowBox();
            background: #FFF;
            display: inline-block;
            width: 100%;
            margin-bottom: 30px;
            .slider-box{
                padding: 0px;
            }
            .info-box{
                padding: 20px;
                h3{
                    @include title(#8e8e8e, 16);
                    margin-top: 5px;
                }
                h4{
                    @include title($purple, 20);
                    margin-bottom: 15px;
                    span{
                        font-family: 'Gotham-book';
                        font-size: 24px;
                        color: #8e8e8e;
                    }
                }
                .list{
                    padding: 0px;
                    margin: 0px;
                    display: block;
                    width: 100%;
                    li{
                        @include title(#8e8e8e, 12);
                        display: block;
                        width: 25%;
                        float: left;
                        @include breakpoint(mobile){
                            width: 100%;
                        }
                    }
                }
                .box-left{
                    display: block;
                    width: 35%;
                    float: left;
                    margin-top: 40px;
                    @include breakpoint(mobile){
                        width: 100%;
                    }
                    h5{
                        @include title($yellow, 20);
                        margin: 0px;
                    }
                    p{
                        @include title(#8e8e8e, 12);
                        margin: 0px;
                    }
                }
                .box-right{
                    margin-top: 40px;
                    display: block;
                    width: 65%;
                    float: left;
                    text-align: right;
                    @include breakpoint(mobile){
                        width: 100%;
                    }
                }
            }
        }
    }
}

#modal-empty-leg {
	.modal-header {
		.close {
			margin-top: 10px;
			font-size: 45px;
		}
	}
	h3 {
		margin-left: 33px;
	}
	.modal-md {
		width: 865px;
		height: auto;
	}
	.slider-box {
		.minus-margin {
			margin: -15px 0px 0px -15px;
		}
		.arrow.arrow-prev {
			left: 0px;
			top: 40%;
		}
		.arrow.arrow-next {
			right: 56px;
			top: 40%;
		}
	}
	.info-box {
		margin-top: 15px;	
		margin-left: -35px;
		label {
			color: #8e8e8e;
			display: inline-block;
			max-width: 100%;
			margin-bottom: 0px;
			font-weight: 500;
			font-size: 15px;
		}
		h4 {
			font-family: 'Gotham';
			font-weight: normal;
			color: #48539b;
			font-size: 20px;
			margin-bottom: 15px;
			margin-top: 0px;
		}
		.price-box {
		    margin-top: 30px;			
			h5 {
				font-family: 'Gotham';
				font-weight: normal;
				color: #c29834;
				font-size: 24px;
				margin: 0px;
			}
			p {
				color: #8e8e8e;
				font-size: 15px;
			}
		}
	}
	.modal_back {
		background-color: #f8f3e1;
	}
	.detail_info {
		font-size: 15px;
		padding-left: 20px;
		padding-right: 20px;		
		display: table;
		width: 100%;
		margin-top: 30px;
		margin-bottom: 30px;
		text-align: center;
		#modal_date {width:20%; float:left;}
		#modal_time {width:20%; float:left;}
		#modal_aircraft {width:20%; float:left;}
		#modal_partner {
			width:20%; float:left;
			vertical-align: top;
			img {
				width:25px;
				height:18px;
			}
		}
		#modal_passenger {width:20%; float:left;}
		#modal_img {
			display: inline-block;
			vertical-align: middle;
		}
		span i{
			color: #c29834;
			font-size: 15px;
		}
	}
	.request_section {
		text-align: center;
		margin-top: 60px;
		margin-bottom: 20px;
		h4 {
			font-family: 'Gotham';
			font-weight: normal;
			color: #48539b;
			font-size: 20px;
			margin-bottom: 15px;
			margin-top: 0px;
		}
		.request_title {
			margin-bottom: 20px;
		}
		.request_body {
			margin-left: 90px;
			margin-right: 90px;
			display: inline-block;
			select {			
				height: 45px;
			}
			.firstname {			
				height: 45px;
			}
			.company {				
				height: 45px;
			}
			.email {				
				height: 45px;
			}		
			.request {
				float: right;
				height: 45px;
				width: 100%;
				margin-top: 10px;
			}
			p {
				padding-top: 10px;
				font-size: 8px;
				color: #5f6062;
			}
			.form-group {
				margin-bottom: 20px;			
				&.success:after, &.error:after {	
					right: 17px;		
				}
				.form-control {
					line-height: 35px;
				}
				#phone {
					height: 45px;
				}
				label {
					float: left;
					font-size: 15px;
				}
			}
		}
	}
}